<<<<<<< HEAD
<main>

    <div class="row alert">
        <div class="col-md-7">
            <div class="alert-result">{{result}}</div>
            <div class="alert-type">{{info}}</div>

        </div>
        <div class="col-md-5 d-flex justify-content-end aling">
            <button class="button-primary" type="submit">
                <a href="/product-list" class="link"> До списку товарів</a></button>
        </div>
    </div>


    <a href="/product-create">Повернутися на сторінку створення товару</a>

</main>
=======
<div class="card">
    <div class="card__header">
        <h2 class="card__title">{{data.message}}</h2>
        <h3 class="card__subtitle">{{data.info}}</h3>
    </div>
    <a href="{{data.link}}" class="card__button card__button--blue"> Продовжити</a>
</div>
>>>>>>> 3-purchase
