{{! purchase-list.hbs }}

<main class="main">
  {{> heading title="Мої замовлення"}}

  <div class="purchase-list">
    {{#each data.list}}
    <div class="purchase-item">
      <div class="purchase-item__id">ID: {{id}}</div>
      <div class="purchase-item__title">
        <div class="purchase-item__label">Товари:</div>
        <div class="purchase-item__value">{{#if title}}{{title}}{{else}}Назва не вказана{{/if}}</div>
      </div>
      <div class="purchase-item__total-price">
        <div class="purchase-item__label">Сума замовлення:</div>
        <div class="purchase-item__value">{{totalPrice}} грн</div>
      </div>
      <div class="purchase-item__bonus">
        <div class="purchase-item__label">Нараховані бонуси:</div>
        <div class="purchase-item__value">{{bonusAmount}} грн</div>
      </div>

    </div>
    {{> divider}}


  </div>

  {{!-- **** --}}
  <br>
  <a href="/purchase-delivery?id={{id}}">
    {{> button text="Перейти до оформлення замовлення"}}
  </a>
  {{/each}}
</main>